@(message: String)

@main("Call For Partners - Peer-Reviewed Pairs") {

<div class="jumbotron text-center">
  <div class="container">
    <h1>Call For Partners</h1>
    <p>Let's Publish Before We Perish</p>
  </div>
</div>
<div class="container">
  @if(message != null){
  <div class="alert alert-success text-center" role="alert">
    @message
  </div>
  }
  <form>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <p>Name</p>
      <p>Email</p>
      <p>Password</p>
      <p>Confirm Password</p>
    </div>
    <div class="col-md-4">
      <p><input type="text" name="name"/></p>
      <p><input type="text" name="email"/></p>
      <p><input type="text" name="password"/></p>
      <p><input type="text" name="confirmPassword"/></p>
    </div>

  </div> <!-- row -->
    <br/><center><input type="submit" action="doRegister.html" method="post"/></center>
  </form>

</div>

}
