@(message: String)

@main("Call For Partners - Peer-Reviewed Pairs") {

<div class="jumbotron text-center">
  <div class="container">
    <h1>Call For Partners</h1>
    <p>Let's Publish Before We Perish</p>
  </div>
</div>
<div class="container">
  @if(message != null){
  <div class="alert alert-success text-center" role="alert">
    @message
  </div>
  }
  <form>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <p>Name</p>
      <p>Email</p>
      <p>Password</p>
      <p>Confirm Password</p>
    </div>
    <div class="col-md-4">
      <p><input type="text" name="name"/></p>
      <p><input type="text" name="email"/></p>
      <p><input type="text" name="password"/></p>
      <p><input type="text" name="confirmPassword"/></p>
    </div>

    <!-- <div class="col-md-6"> -->
    <!--  <center>
        <h3><span class="glyphicon"></span> Register New Account </h3>
        <form>
          <p>Name: <input type="text" name="name"/></p>
        <p>Email: <input type="text" name="name"/></p>
          <p>Password: <input type="password" name="name"/></p>
        <p>Confirm Password: <input type="password" name="name"/></p>
          <p><input type="submit" name="name"/></p>
        </form>
      </center>

    <!-- </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/scala-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd scala-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-scala#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
    </div> -->
  </div> <!-- row -->
    <br/><center><input type="submit"/></center>
  </form>

</div>

}
